# .gitignore

# Ignorar el archivo de variables de entorno
.env

# Ignorar la carpeta del entorno virtual
.venv/
venv/

# Ignorar las carpetas de caché de Python
__pycache__/
*.pyc

# Ignorar archivos de configuración del IDE (opcional pero recomendado)
.idea/

# ignora la base de datos SQLite
clownpiece_data.db

# ignora los audios
random_audio/
.mp3